
body{
    font-family: Arial;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
}

/* Main heading */
h1 {
    text-align: center;
    color: #333;
}


 .movies{
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    text-align: center;
}


h2 {
    margin-top: 0;
    color: #222;
}


a {
    color: skyblue;
    font-weight: bold;
}

img {
    border-radius: 8px;
}
